<div class="outer">
  <div class="top-button-outer">
    <button mat-raised-button color="accent">+ New Customer</button>
  </div>
  <form [formGroup]="customerForm" (ngSubmit)="saveCustomer()" style="width: 100%">
    <div class="row">
      <div class="col-2">
        <mat-form-field class="input-wrapper" appearance="outline">
          <input formControlName="name" type="text" matInput placeholder="Customer name">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="input-wrapper" appearance="outline">
          <input formControlName="address" type="text" matInput placeholder="Address">
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field class="input-wrapper" appearance="outline">
          <input formControlName="salary" type="text" matInput placeholder="Salary">
        </mat-form-field>
      </div>
      <div class="col-12">
        <button type="submit" [disabled]="customerForm.invalid" mat-raised-button color="primary">Save Customer</button>
      </div>
    </div>
  </form>
  <hr>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Salary</th>
      <th>Option</th>
    </tr>
    </thead>
  </table>
</div>
