<div class="outer">
  <div class="header">
      <h3>Dashboard</h3>
    <button (click)="logout()" mat-raised-button color="accent">Logout</button>
  </div>

  <div class="button-pad">
    <button mat-raised-button color="primary" routerLink="/dashboard/customer">Customer</button>
    <button mat-raised-button color="primary" routerLink="/dashboard/product">Product</button>
    <button mat-raised-button color="primary" routerLink="/dashboard/order">Orders</button>
    <button mat-raised-button color="primary" routerLink="/dashboard/detail">Order Details</button>
  </div>
  <hr>
  <router-outlet></router-outlet>

</div>
