<div class="container" style="margin-top: 20px">

  <div class="alert alert-primary">
    <div class="row" style="margin: 0">
      <div class="col-3">
        <mat-form-field appearance="outline" class="full-with">
          <mat-label>Customer</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="full-with">
          <mat-label>Address</mat-label>
          <input type="text" matInput disabled>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="full-with">
          <mat-label>Salary</mat-label>
          <input type="number" matInput disabled>
        </mat-form-field>
      </div>
    </div>
  </div>
  <hr>
  <div class="alert alert-dark">
    <div class="row" style="margin: 0">
      <div class="col-3">
        <mat-form-field appearance="outline" class="full-with">
          <mat-label>Product</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="full-with">
          <mat-label>Description</mat-label>
          <input type="text" matInput disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="full-with">
          <mat-label>QTY On Hand</mat-label>
          <input type="number" matInput disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="full-with">
          <mat-label>Unit Price</mat-label>
          <input type="number" matInput disabled>
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="full-with">
          <mat-label>QTY</mat-label>
          <input type="number" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
